*{
    margin: 0;
    padding: 0;
}
body{
    margin: 2% 10% 0 20%;
    width: 60vw;
    color: #333;
}

.boot{
    margin: 1em 0;
    line-height: 1.8;
    font-size: 16px;
}
.boot .solid{
    margin-bottom: 0.2em;
    border-bottom: solid #888 0.5px;
}
.boot p,ul{
    margin: 0.2em 0 0.2em 2em;
}
.boot ul,.boot li{
    margin: 0.3em 0 0.3em 2em;
}
.box1{
    margin: 3em 0 4em 0;
}
p b{
    background: linear-gradient(to bottom, transparent 60%, #faffce 40%);
}
.QA{
    background:unset;
}


.top_p1{
    display: block;
    margin: 2% 2% 2% 80%;
    font-size: 1.3em;
    white-space: nowrap;
}
.top_p1 a:link{
    color: #f18140;/*未訪問*/
}
.top_p1 a:visited{
    color: #7f5339;/*訪問済み*/
}